#borderPane{
    -fx-background-color: #1A9451;
}

#status{
    -fx-background-color: #147942;
}

#textOptions, #textBet, #textMoney{
    -fx-fill: #4fb47d;
}

#textDollar {
     -fx-fill: #ffc000;
}

.button{
   -fx-background-color: #f0c362;
   -fx-border-width: 1px;
   -fx-border-color: #cea03d;
   -fx-border-radius: 2px;
   -fx-background-radius: 2px;
   -fx-background-insets: 1px;
}

.button:hover{
   -fx-background-color: #f6ce79;
   -fx-border-color: #d7a947;   
}

.button:pressed{
   -fx-background-color: #daab45;
   -fx-border-color: #af8529;   
}



#textPlayer, #textHouse{
    -fx-fill:  #93ce2b;
    -fx-font-size: 15px;
}

#h01Status,  #h02Status, #h03Status, #h04Status, #hStatus{
    -fx-fill:  #11721d;
}

