#borderPane{
    -fx-background-color: #168147;
}

#status{
    -fx-background-color: #104729;
}

#textOptions, #textBet{
    -fx-fill: #6dc473;
}

#textMoney{
    -fx-fill: #ffffff;
}

#textDollar {
     -fx-fill: #ffc000;
     -fx-font-size: 15px;
}

.button{
	-fx-text-fill:  #104729;
   -fx-background-color: #dcb338;
   -fx-border-width: 1px;
   -fx-border-color: #fed14a;
   -fx-border-radius: 2px;
   -fx-background-radius: 2px;
   -fx-background-insets: 1px;
}

.button:hover{
	-fx-text-fill:  #104729;
   -fx-background-color: #f0c954;
   -fx-border-color: #fed14a;
}

.button:pressed{
	-fx-text-fill:  #9b7e27;
   -fx-background-color: #f0c954;
   -fx-border-color: #cea52c;
}

.button:disabled{
   -fx-text-fill:  #3a8d60;
   -fx-background-color: #104729;
   -fx-border-color: #216942;
}



#textPlayer, #textHouse{
    -fx-fill:  #93ce2b;
    -fx-font-size: 21px;
}

#h01Status,  #h02Status, #h03Status, #h04Status, #hStatus{
    -fx-fill:  #25a15e;
    -fx-font-size: 14px;
    -fx-font-weight: 400;
}

#gridPane {
    -fx-background-image: url("./images/bg.png");
}

#header {
	-fx-background-image: url("./images/header.png");
	-fx-background-repeat: no-repeat;
	-fx-background-color: #2e0020;
}

